/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 10px;

}

.content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px;
}

label {
    margin-top: 10px;
    display: block;
}

input, textarea, select {
    margin-top: 5px;
    padding: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #555;
}

#confirmation {
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;
    display: none;
}



.services {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.services h2 {
    color: #333;
}

.service-option {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.service-option img {
    width: 30px;
    margin-right: 10px;
}
